//about__cont
.about__cont {
    padding-top: 6vw;
    padding-bottom: 20vh;
    color: var(--black);
    font-family: var(--kor_font);
    opacity: 0;
    transform: translateY(100px);
}

.about__item1 {
    .text {
        h3 {
            font-size: 18px;
            margin-top: 5vw;
            margin-bottom: 1.5vw;
        }
        p {
            font-size: 18px;
            width: 70%;
        }
    }
}

.about__item2 {
    margin-top: 15vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .img {
        flex: 1 1 68%;
        margin-right: 2%;
    }
    .text {
        flex: 1 1 28%;
        margin-left: 2%;

        h3 {
            font-size: 18px;
            margin-bottom: 1.5vw;
        }
        p {
            font-size: 18px;
        }
    }
}

.about__item3 {
    margin-top: 15vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .img {
        flex: 1 1 60%;
        margin-left: 2%;
    }
    .text {
        flex: 1 1 34%;
        margin-right: 2%;

        h3 {
            font-size: 18px;
            margin-bottom: 1.5vw;
        }
        p {
            font-size: 18px;
        }
    }
}

@media (max-width: 1200px){
    .about__item1,
    .about__item2,
    .about__item3 {
        padding: 2%;
    }
}
@media (max-width: 960px){
    .about__inner {
        .about__item1,
        .about__item2,
        .about__item3 {
            flex-direction: column;
            padding-bottom: 5vh;

            .img {
                margin-right: 0%;
                margin-left: 0%;
            }
            .text {
                margin-left: 0%;
                margin-right: 0%;
                p {
                    width: 100%;
                }
            }
        }
        h3 {
            margin-top: 30px;
        }
    }
}
